.apiz-wrapper {
	overflow: hidden;
	position: relative;
	}

.apiz-wrapper,
.apiz-wrapper * {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	     -o-user-select: none;
	        user-select: none;
	}

	.apiz-wrapper > img {
		position: absolute;
		z-index: 1;
		}

	.apiz-wrapper > .apiz-overlay {
		position: absolute;
		z-index: 10;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		cursor: move;
		}
